# ignore files of AndroidClient project
AndroidClient/*.iml
AndroidClient/.gradle
AndroidClient/local.properties
AndroidClient/.idea/caches
AndroidClient/.idea/libraries
AndroidClient/.idea/modules.xml
AndroidClient/.idea/workspace.xml
AndroidClient/.idea/navEditor.xml
AndroidClient/.idea/assetWizardSettings.xml
AndroidClient/.DS_Store
AndroidClient/build
AndroidClient/captures
AndroidClient/.externalNativeBuild
AndroidClient/.cxx
AndroidClient/local.properties

# ignore files of Qt RoboDK project
RoboDK_FinalProject/build
RoboDK_FinalProject/debug
RoboDK_FinalProject/release
RoboDK_FinalProject/.qmake.stash
RoboDK_FinalProject//RoboDK-API-Cpp-Sample.pro.user
